.detail {
  max-width: 50% !important;
}

.example-card {
  width: 90%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.mat-card-content {
  font-size: large;
  line-height: 1.7;
}

.mat-card-actions {
  margin-top: 100px;
}

.edit {
  width: 150px;
  height: 40px;
  font-size: large;
  bottom: 10px;
}

.delete {
  width: 150px;
  height: 40px;
  font-size: large;
  bottom: 10px;
  left: 200px;
}

.mat-stroked-button {
  width: 150px;
  height: 40px;
  font-size: large;
  right: 10px;
  bottom: 10px;
  float: right;
}
