.detail {
  max-width: 50% !important;
}

.example-card {
  width: 90%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.mat-card-content {
  font-size: large;
  line-height: 1.7;
}

.mat-card-actions {
  margin-left: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.edit {
  width: 150px;
  height: 40px;
  font-size: large;
  bottom: 10px;
}
